.vs/ML5JS-Unity-Project.slnx/FileContentIndex/6c66cada-c1ff-43ba-a964-bd0df5f411a9.vsidx
.vs/ML5JS-Unity-Project.slnx/DesignTimeBuild/.dtbcache.v2
.vs/ML5JS-Unity-Project.slnx/v18/.suo
.vs/ML5JS-Unity-Project.slnx/v18/.futdcache.v2
